
<div class="page page-profile" ng-controller="ProfileCtrl">

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-profile">
                <div class="panel-heading bg-primary clearfix">
                    <a href="" class="pull-left profile">
                        <img alt="" ng-src="http://graph.facebook.com/{{fbid}}/picture?type=large" class="img-circle img80_80">
                    </a>
                    <h3>{{username}}</h3>
                    <p>{{macaddress}}</p>
                </div>
                <!-- <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge badge-danger">6</span>
                        <i class="fa fa-envelope-o"></i>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-warning">2</span>
                        <i class="fa fa-comments-o"></i>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-info">1</span>
                        <i class="fa fa-heart-o"></i>
                        Morbi leo risus
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-success">3</span>
                        <i class="fa fa-folder-open-o"></i>
                        Vestibulum at eros
                    </li>
                </ul> -->

                <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Profile Info</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>User Name</label>
                                    {{username}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>Email</label>
                                    {{email}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-home"></span>
                                    <label>Lives In</label>
                                    null
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>Contact</label>
                                    {{mobile}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Nationality</label>
                                    India
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

            </div>

            <!-- <div class="row">
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-facebook">
                            <div class="divider divider"></div>
                            <i class="fa fa-facebook size-h1"></i>
                            <div class="divider divider"></div>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h3">575</p>
                                    <p class="text-muted">Followers</p>
                                </li>
                                <li>
                                    <p class="size-h3">23</p>
                                    <p class="text-muted">Following</p>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-twitter">
                            <div class="divider divider"></div>
                            <i class="fa fa-twitter size-h1"></i>
                            <div class="divider divider"></div>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h3">575</p>
                                    <p class="text-muted">Followers</p>
                                </li>
                                <li>
                                    <p class="size-h3">23</p>
                                    <p class="text-muted">Following</p>
                                </li>
                            </ul>
                        </div>
                    </section>                        
                </div>
            </div> -->

            <div class="col-md-6">

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel mini-box">
                        <span class="box-icon bg-danger">
                            <i class="glyphicon glyphicon-signal" style="padding-top:0.3em;"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">{{wificonnectcount}}</p>
                            <p class="text-muted">Time(s) Used Wifi</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-sm-6">
                    <div class="panel mini-box">
                        <span class="box-icon bg-warning">
                            <span class="glyphicon glyphicon-phone" style="padding-top:0.3em;"></span>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">{{devicescount}}</p>
                            <p class="text-muted">Device(s) Used</p>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel mini-box">
                        <span class="box-icon bg-success">
                            <i class="fa fa-database"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">{{datausage/1024/1024 | number:0}} MB</p>
                            <p class="text-muted">Total Data Usage</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel mini-box">
                        <span class="box-icon bg-info">
                            <i class="fa fa-map-marker"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">NA</p>
                            <p class="text-muted">Pickup &amp; Drop</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel mini-box">
                        <span class="box-icon bg-info">
                            <i class="fa fa-facebook-square" style="color:white;"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">{{fbconnect}}</p>
                            <p class="text-muted">Facebook</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel mini-box">
                        <span class="box-icon bg-info">
                            <i class="fa fa-envelope-o"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">Not Verified</p>
                            <p class="text-muted">Mobile OTP</p>
                        </div>
                    </div>
                </div>
            </div>

            
    </div>
          
        </div>
        

    <div class="panel panel-default col-md-12">
        <div class="panel-heading"><strong>{{macaddress}} Trip Details</strong> <strong class="pull-right tableMinMax minimize"><i class="fa fa-minus"></i></strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>BSID</th>
                    <!-- <th>USERNAME</th> -->
                    <th>MACADDRESS</th>
                    <!-- <th>EMAIL</th> -->
                    <!-- <th>CONTACT NUMBER</th> -->
                    <th>ASSIGNEDIP</th>
                    <!-- <th>DEVICETYPE</th> -->
                    <th>DOWNLOADED</th>
                    <th>UPLOADED</th>
                    <!-- <th>CREATED AT</th> -->
                    <th>LAST SEEN</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="users in newoladata track by $index">
                    <td>{{users.hotspotname}}</td>
                    <!-- <td>{{users.username}}</td> -->
                    <td><a href="http://cabplay.com/cabplaydemo/#/profile/{{users.macaddress}}">{{users.macaddress}}</a></td>
                    <!-- <td>{{users.email}}</td> -->
                    <!-- <td>{{users.contactnumber}}</td>                  -->
                    <td>{{users.assignedip}}</td>
                    <!-- <td>{{users.devicetype}}</td> -->
                    <td>{{(users.downloaded/1024/1024) | number:0}} MB</td>
                    <td>{{(users.uploaded/1024/1024) | number:0}} MB</td>
                    <!-- <td>{{users.createdAt}}</td> -->
                    <td>Today</td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="panel panel-default col-md-12">
        <div class="panel-heading"><strong>{{macaddress}} Browsing History</strong> <strong class="pull-right tableMinMax minimize"><i class="fa fa-minus"></i></strong></div>

            <table id="historytable" class="table" cellspacing="0" width="100%">

            </table>    
    </div>

</div>

