<div class="page-signin" data-ng-controller="loginCtrl">
  <div class="signin-header">
    <div class="container text-center">
      <section class="logo">
      <a target="_blank" href="http://cabplay.com">
      <img src="images/cabplaylogo2.jpg">
      </a>
      </section>
    </div>
  </div>
  <div class="signin-body">
    <div class="container">
      <div class="form-container">
        <section class="row signin-social text-center">
          <div class="headerlogo">
            <a target="_blank" href="https://www.olacabs.com/" class="logo">
            <img src="styles/img/logo_alpha.png" alt="olacabs-logo">
            </a>
          </div>
        </section>
        
        
    <div class="error_container" ng-show="invalidShow">
        <div class="text_center error_message_container">
            <span class="error_message" ng-bind="invalid1"></span>
        </div>
    </div>    
    
            
        <form class="form-horizontal" name="login_form" ng-submit="loginSubmit(login_form)" novalidate=''>
          <fieldset>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input name="username" class="form-control" type="email"  placeholder="Email" ng-model="login.username" required />
              </div>
              <span class="input-error" ng-show="login_submit && login_form.username.$error.required">Username is required</span>
              <span class="input-error" ng-show="login_submit && login_form.username.$error.email">Please Enter Valid E-Mail Id</span>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input name="password" class="form-control" type="password" ng-model="login.password" placeholder="Password" required />
              </div>
              <span class="input-error" ng-show="login_submit && login_form.password.$error.required">Password is required</span>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-lg btn-block" value="Log in" />
            </div>
          </fieldset>
        </form>
        <section>
          <p class="text-center"><a href="javascript:;">Forgot your password?</a></p>
          <!--                    <p class="text-center text-muted text-small">Don't have an account yet? <a href="#/pages/signup">Sign up</a></p> -->
        </section>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-right">Powered by
      <a target="_blank" href="http://cabplay.com">
      <img src="images/cabplaylogo2.jpg">
      </a>
    </div>
  </div>
</div>