<div class="page page-dashboard" data-ng-controller="UserCtrl">
  <!-- Grid Code Starts-->

    <div class="panel panel-default col-md-12" style="padding:5px;">
		<table id="footfalltable" class="table" cellspacing="0" width="100%">
			<thead>
                <tr>
                    <th>BSSID</th>
                    <th>MACADDRESS</th>
                    <th>SIGNAL</th>
                    <th>LAST SEEN</th>
                </tr>
            </thead>

		</table>

   	</div>
  <!-- Grid Code End-->       	    
</div>    
    